/* style Css */
*{
margin: 0px;
padding: 0px;  
}


.container-fluid{
margin: 0px;
padding: 0px;
}


.col .top-image{
    background-image: url("https://petcube.com/images/banners/september-perks-2019/thin-banner.jpg")
}


a.top-offer {
    font-size: 12px !important;
    text-decoration: none;
    color: white;
    font-weight: 900;
    width: 20%;
    margin: 30%;
}

.get-now{
    color: black;
    margin-left: 40px;
}

/* Navber Css start */


button.navbar-toggler {
    border: none;
}


button.navbar-toggler:active{
    background-color: cadetblue;
}


.header-sign-in{
    margin-right: 25px;
}

.navbar-nav{
    margin-left: 12%;
}

ul  li  {
    margin-right: 10px;
    display: block;
}

ul.navbar-nav li:hover{
    background-color: #f8f8
}

.icon{
    font-size: 20px;
    color: #BFBFC1;
}

.bg-light {
    background-color: #fff!important;
}


.content-wrap{
    width: 96%;
    height: 500px;
    background-color: bisque;
    margin: 0px auto;   
}





